<nav class="nav-bar">
  <h5> Active Tasks | Task History </h5>
</nav>

<section class="hero-content">
  <h1 class="hero-title">Active Tasks</h1>
</section>

<section class="new-task">
  <div class="new-task-header">
    <p>Task Name</p>
  </div>
  <form class="new-task-field" ng-submit="home.addTask()">
    <input type="text" class="task-field" ng-model="home.task.title" name="title">
    <input type="submit" class="submit" value="Add Task">
  </form>
</section>

<section class="task-content">
  <div class="task-list" ng-repeat="task in home.tasks">
    <div ng-hide="home.hide(task)">
      <h3><input class="task-checkbox" type="checkbox">
      <h3>{{ task.title }}</h3>
      <p>Created: {{ task.created }} </p>
      <p>Completed</p>
    </div>
  </div>
</section>
